body{
    background-color: black;
}
#watchContainer{
    margin: auto;
    padding: 20px;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#timerContatiner{
    font-family: 'Fira sans', sans-serif;
    color: yellow;
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 10px;
}

#btnContainer{
    text-align: center;
     width: 100%;
}

.timeControlBtn{
    margin: 3%;
    padding: 15px;
    background-color: black;
    border-radius: 5px;
    border: 3px solid yellow;
    color: yellow;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.timeControlBtn:hover{
    background-color: yellow;
    color: black;
}